#!/bin/sh

# ~/setup_node.sh
# ============================================================

# {{- if and .is_linux (not .is_macos) (not .is_devcontainer) }}

command_exists() {
    command -v "$@" >/dev/null 2>&1
}

main() {
    printf -- "\n%s=== Setting up Node.js... ===%s\n"

    # Install Volta
    if ! command_exists volta; then
        printf -- "%sInstalling Volta...%s\n"
        curl https://get.volta.sh | bash -s -- --skip-setup
        source "${HOME}/.profile"
    fi

    if command_exists volta; then
        # Install Node.js
        printf -- "%sInstalling Node.js using Volta...%s\n"
        volta install node

        # Install Yarn
        printf -- "%sInstalling Yarn using Volta...%s\n"
        volta install yarn@1

        # Install pnpm
        printf -- "%sInstalling pnpm using Volta...%s\n"
        volta install pnpm
    else
        printf -- "%sVolta not installed.%s\n"
        exit 0
    fi
}

main "$@"

# {{- end }}
