#!/bin/bash

# ~/install_packages.sh
# ============================================================

# {{- if and .is_ubuntu }}

command_exists() {
    command -v "$@" >/dev/null 2>&1
}

main() {
    printf -- "\n%s=== Install packages... ===%s\n"

    # Install packages
    if command_exists eza; then
        wget -qO- https://raw.githubusercontent.com/eza-community/eza/main/deb.asc | sudo tee /etc/apt/trusted.gpg.d/gierens.asc
        echo "deb http://deb.gierens.de stable main" | sudo tee /etc/apt/sources.list.d/gierens.list
        sudo apt update
        sudo apt install -y eza
    fi
    if command_exists bat; then
        sudo apt install -y bat
        mkdir -p ~/.local/bin
        ln -s /usr/bin/batcat ~/.local/bin/bat
    fi

}

main "$@"

# {{- end }}
