#!/bin/sh

# ~/setup_php.sh
# ============================================================

# {{- if and .is_ubuntu (not .is_devcontainer) }}

command_exists() {
    command -v "$@" >/dev/null 2>&1
}

main() {
    printf -- "\n%s=== Setting up PHP... ===%s\n"

    # Install packages
    if ! command_exists php || ! command_exists composer; then
        printf -- "%sInstalling packages...%s\n"
        sudo apt install php composer
    else
        printf -- "%sPHP already installed, skipping.%s\n"
    fi
}

main "$@"
# {{- end }}
