#!/bin/sh

# ~/install_homebrew.sh
# ============================================================

# {{- if .is_macos }}

command_exists() {
    command -v "$@" >/dev/null 2>&1
}

main() {
    printf -- "\n%s=== Install Homebrew... ===%s\n"

    # Install Homebrew
    if ! command_exists brew; then
        printf -- "%sInstalling Homebrew...%s\n"
        /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    else
        printf -- "%sHomebrew already installed, skipping.%s\n"
    fi
}

main "$@"

# {{- end }}
