#!/bin/bash

# ~/dotfiles.sh
# ============================================================

printf -- "\n%s=== Start setup with dotfiles... ===%s\n"

# {{- if .is_ubuntu }}
printf -- "%sUbuntu: true%s\n"
# {{- else }}
printf -- "%sUbuntu: false%s\n"
# {{- end }}

# {{- if .is_macos }}
printf -- "%smacOS: true%s\n"
# {{- else }}
printf -- "%smacOS: false%s\n"
# {{- end }}

# {{- if .is_wsl }}
printf -- "\n%son WSL: true%s\n"
# {{- else }}
printf -- "\n%son WSL: false%s\n"
# {{- end }}

# {{- if .is_devcontainer }}
printf -- "%son VSCode Dev Containers: true%s\n"
# {{- else }}
printf -- "%son VSCode Dev Containers: false%s\n"
# {{- end }}

# {{- if and .is_macos .mas }}
printf -- "\n%sInstall apps from App Store: true%s\n"
# {{- end }}

# {{- if and (not .is_ubuntu) (not .is_macos) (not .is_windows) }}
printf -- "\n%sNot supported.%s\n"
exit 0
# {{- end }}

# Create workspace
mkdir -p ~/workspace
