#!/bin/bash

# ~/update.sh
# ============================================================

# {{- if and (or .is_ubuntu .is_wsl) (not .is_devcontainer) -}}

sudo apt update
sudo apt upgrade

# {{- end }}
