#!/bin/bash

# ~/runos.sh
# ============================================================

# {{- if .is_lunux }}
printf -- "Linux: true\n"
# {{- else }}
printf -- "Linux: false\n"
# {{- end }}

# {{- if .is_ubuntu }}
printf -- "Ubuntu: true\n"
# {{- else }}
printf -- "Ubuntu: false\n"
# {{- end }}

# {{- if .is_macos }}
printf -- "macOS: true\n"
# {{- else }}
printf -- "macOS: false\n"
# {{- end }}

# {{- if .is_windows }}
printf -- "Windows: true\n"
# {{- else }}
printf -- "Windows: false\n"
# {{- end }}

# {{- if .is_wsl }}
printf -- "on WSL: true\n"
# {{- else }}
printf -- "on WSL: false\n"
# {{- end }}

# {{- if .is_devcontainer }}
printf -- "on VSCode Dev Containers: true\n"
# {{- else }}
printf -- "on VSCode Dev Containers: false\n"
# {{- end }}
