[tools]
node = "24"
pnpm = "latest"
rust = "latest"

# {{- if .darwin }}
"npm:@aws-amplify/cli" = "latest"
"npm:@hiratake/aws-mfa" = "latest"
"cargo:cargo-edit" = "latest"
"cargo:cargo-outdated" = "latest"
"cargo:cargo-audit" = "latest"
# {{- end }}

[settings]
experimental   = true
